Source: nvtop
Section: utils
Priority: optional
Maintainer: Quentin Lienhardt <pro@quentium.fr>
Build-Depends: cmake, pkg-config, debhelper (>= 12), libdrm-dev, libncurses-dev, libsystemd-dev, libudev-dev, udev
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Browser: https://github.com/Quentium-Forks/nvtop
Vcs-Git: https://github.com/Quentium-Forks/nvtop.git
Homepage: https://github.com/Quentium-Forks/nvtop

Package: nvtop
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6 (>= 2.34), libncurses6 (>= 6), libncursesw6 (>= 6), libsystemd0 (>= 240), libtinfo6 (>= 6)
Recommends: systemd
Description: NVTOP stands for Neat Videocard TOP, a (h)top like task monitor for GPUs and accelerators. It can handle multiple GPUs and print information about them in a htop-familiar way.
