Source: nvtop
Section: utils
Priority: optional
Maintainer: Quentin Lienhardt <pro@quentium.fr>
Build-Depends:
 cmake,
 debhelper (>= 13),
 libncurses-dev,
 libdrm-dev,
 libsystemd-dev,
 libudev-dev,
Standards-Version: 4.7.3
Rules-Requires-Root: no
Vcs-Browser: https://github.com/Quentium-Forks/nvtop
Vcs-Git: https://github.com/Quentium-Forks/nvtop.git
Homepage: https://github.com/Quentium-Forks/nvtop

Package: nvtop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: systemd
Description: GPU & Accelerator process monitoring for AMD, Apple, Huawei, Intel, NVIDIA and Qualcomm
 NVTOP stands for Neat Videocard TOP, a (h)top like task monitor for GPUs and accelerators. It can handle multiple GPUs and print information about them in a htop-familiar way.
